<section class='universal-player hide'>
  <img class='universal-player-art' src=""/>
  <p class='universal-player-title'>

  </p>
  <audio controls class='universal-player-player' src="">

  </audio>

</section>
