<nav class="sub-nav group">
  <h2 class="sub-nav-header showStream">Stream</h2>
  <h2 class="sub-nav-header showPlaylists">Playlists</h2>
  <h2 class="sub-nav-header showFollowing">Following</h2>
</nav>

<section class="home-content"> </section>
