
<section class='sign-in-up'>
  <h1 class="form-header">Sign In</h1>

  <form class="group" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label class='form-label' for="username">Username:</label>
    <input class='input' id="username" type="text" name="user[username]">
    <label class='form-label' for="password">Password:</label>
    <input class='input' id="password" type="password" name="user[password]">
    <input class="submit-button right" type="submit" value="Log In!">
  </form>

  <form class="guest-log-in" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[username]" value="Guest">
    <input type="hidden" name="user[password]" value="password">
    <input class="submit-button" type="submit" value="Log In as Guest">
  </form>

</section>
