<nav class="header group">
  <a class="header-logo" href="/#/">EclecticEar</a>
  <a class="header-about" href="/#/about">About</a>
  <ul class="header-list group">

    <% if(EclecticEar.currentUser.isSignedIn()) { %>
    <li>
      <form id="search-form">
        <input type="text" id="query" class="search-hide" placeholder="Search" required>
      </form>
    </li>
    <li class="fa fa-search" id="search" title="Search"></li>
    <li><a href="/#/upload">Upload</a></li>
    <li><a href="/#/users">Users</a></li>
    <li>
      <a href="#users/<%= EclecticEar.currentUser.id %>">
        <%= EclecticEar.currentUser.escape("username") %>
      </a>
    </li>

    <li>
      <button title="Log-Out" id="sign-out-link" class="fa fa-sign-out"></button>
    </li>

    <% } else { %>
    <li>
      <a class="header-sign-in" href="#/session/new">Sign In</a>
    </li>
    <li>or</li>
    <li>
      <a class="header-sign-up" href="#/users/new">Sign Up</a>
    </li>
    <% } %>
  </ul>
</nav>
