
<section class='sign-in-up group'>
  <h1 class="form-header">Sign In</h1>

  <form>
    <label class='form-label' for="username">Username:</label>
    <input class='input' id="username" type="text" name="user[username]">
    <label class='form-label' for="password">Password:</label>
    <input class='input' id="password" type="password" name="user[password]">
    <input class="submit-button right" type="submit" value="Log In!">
  </form>
  <button class="submit-button left" id="guest">Log-In as Guest</button>
</section>
