<h1>USERS</h1>
 <ul>
   <% users.each(function(user) { %>
     <li class='user-thumb'>
     <%= user.escape('username') %>
     <button class='follow' data-id="<%=user.get('id') %>">Follow</button>
     </li>
    <% }) %>
 </ul>
