<span class='sidebar'>


<h2> <%= user.escape('username') %> </h2>
<p>
  City
</p>
<p>
  Followers
</p>
<p>
  SongCount
</p>
<button class='follow' data-id="<%=user.get('id') %>">Follow</button>
<p>
  website
</p>
<p>
  Facebook
</p>
<p>
  twitter
</p>

</span>
