<span class='user-show-header group'>

  <h2> <%= user.escape('username') %> </h2>
  <img  class='user-thumb' src="" alt="" />
  <p>Followers</p>
  <p>SongCount</p>
  <button class='follow' data-id="<%=user.get('id') %>">Follow</button>

</span>

<span class='user-show-feed'>
  <ul class="songs">

  </ul>
</span>
