
<section class='sign-in-up' >
  <h1 class="form-header">Join EclecticEar</h1>

  <form class='group' action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label class='form-label'>Email:</label>
    <input class='input' type="text" name="user[email]" value="<%= @user.email %>">
    <label class='form-label'>Username:</label>
    <input class='input' type="text" name="user[username]" value="<%= @user.username %>">
    <label class='form-label'>Password:</label>
    <input class='input' type="password" name="user[password]">
    <input class="submit-button" type="submit" value="Sign Up!">
  </form>

</section>
