<div class="playlist-header group">
  <form class='edit-form edit-playlist'>
      <!-- <div class="play-button">
      </div> -->
    <section class="playlist-top-row">
      <input class="playlist-name" type="text" name="title" value="<%= playlist.escape('title') %>">
    </section>

    <img class='cover-large' src="<%= playlist.get('cover_url') %>"/>



    <div class="track-count">
      <%= playlist.songs().length %>
      <br>TRACKS
    </div>
    <section class="playlist-bottom-row">
      <button class="submit-button left">Save Changes</button>
      <button class="delete-button left">Delete Playlist</button>

      <input class="right" type="file" name="cover" id="input-playlist-cover">
      </form>
    </section>

  </form>
</div>

<ul class='playlist-songs'>

</ul>
