 <% if (playlists.length === 0) { %>
   <p class="none">
     No Playlists Yet
   </p>
 <% } %>

<ul>
  <% playlists.each(function(playlist) { %>
    <% if (playlist.hasSong(song_id)) { %>
      <li class='result-bold'>
      <%= playlist.escape('title') %>
      <button class="in-playlist right"
              data-id="<%= playlist.id %>" disabled>
        already in playlist
      </button>
      </li>
    <% } else { %>
      <li class='result-bold'>
      <%= playlist.escape('title') %>
      <button class="add-to-playlist right"
              data-id="<%= playlist.id %>">
        Add to playlist
      </button>
      </li>
    <% }%>
  <% }) %>
</ul>
