<h1 class="form-header">Upload to EclecticEar!</h1>

<form enctype="multipart/form-data" action="/songs" method="post">
  <input type="hidden" name="authenticity_token" value="<%= token %>">
  <label class='form-label'>Title</label>
  <input class='input' type="text" name="song[title]">
  <input  type="file" name="song[music]" id="input-music">
  <button class="submit-button right">Upload</button>

</form>
