

<h1>Upload to EclecticEar!</h1>

<table>
  <tr>
    <td>
      <label>Title</label>
    </td>
    <td>
      <input type="text" name="title">
    </td>
  </tr>

  <input type="hidden" name="upload_id" value="83ji5eorf">

  <tr>
    <td>

    </td>
    <td>

      <button>Upload</button>
    </td>
  </tr>
</table>
