
<div class="album-art">
  Art
</div>
<div class="play-button">
  <div class="arrow">

  </div>

</div>
<a href="#/users/<%=song.get('owner').id %>"><%= song.get('owner').username %></a>
<p><%= song.escape('title') %> </p>
<div class="music-player">
  <%= song.escape('created_at') %>
</div>
