<div class="playlist-song-form">
  <nav class="sub-nav group">
    <h2 class="sub-nav-header add-playlist">Add to playlist</h2>
    <h2 class="sub-nav-header new-playlist">Create new</h2>

  </nav>

  <section class='new-or-old-playlist'>
  </section>

</div>
