/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, h1, h2, nav, a, body,
header, ul, li, p, button, main,
form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  background: transparent;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

/*clear fix*/

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*page*/

body {
  background: #F2F2F2;
  font-family: sans-serif;
}


/*header*/

header {
  z-index: 1;
  width: 100%;
  position: fixed;
  color: #949494;
  /*color: #C3C3C3;*/
  background: #333333;
  font-weight: bold;
}

.header {
  width: 900px;
  margin: auto;
}

.header a:hover,
.header form:hover {
  color: #ffffff;
}

.header-logo {
  color: #ffffff;
  background: #FF5500;
  padding: 10px;
  float: left;
  font-weight: 700;
  font-size: 26px
}

.header-list {
  float: right;
}
.header-list > li {
  float: left;
  padding: 15px 20px;
}

.header form:hover {
  cursor: pointer;   /* why dont you work? */
}

.header-sign-up {
  background: #FF5500;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
}

.header-sign-in {
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #949494;
  border-radius: 5px;
}

.header-sign-in:hover {
  border: 1px solid #999999
}

/*body*/

.content {
  padding-top: 30px;
  top: 50px;
  position: relative;
  width: 900px;
  margin: auto;
  background: #FFFFFF;
  bottom: 0px;
}


.sign-in-up {
  color: #FFFFFF;
  text-align: center;
  background: #FF5500;
  width: 200px;
  margin: 20px auto;
  border-radius: 5px;
}


.sign-in-up label,
.sign-in-up input {
  margin: 10px;
}

.sign-in-up > h1 {
  font-size: 24px;
  padding: 5px 0 10px 0;
}

/*feed*/

.feed {
  width: 650px;
  margin: 10px auto;
  border: 2px solid black;
}

.feed h1 {
  text-align: center;

}

.song-show {
  float: left;
  width: 600px;
  height: 150px;
  margin: 20px;
  border: 2px solid black;

}

.play-button {
  float: left;
  background: #FF5500;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px 5px 0 5px;
}

.arrow {
  position: relative;
  top: 15px;
  left: 20px;
  width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-left:15px solid black;

}

.album-art {
  float: left;
  background: #bbb;
  width: 130px;
  height: 130px;
  margin: 10px;
}

.song-show > p, .song-show > a {
  float: left;
  width: 368px;
  height: 18px;
  border: 1px solid #eee;
  margin: 10px 10px 0 10px;
  overflow: hidden;
}

.music-player {
  float: left;
  height: 70px;
  margin: 10px;
  background: #eee;
  color: orange;
  width: 430px;
}

.uploader h1 {
  padding: 10px;
  text-align: center;
}

.uploader {
  width: 300px;
  margin: 10px auto;
  border: solid black 1px;
}

 /*users*/

 .user-thumb a {
   background: black;
   color: white;
   display: inline;
   padding: 5px;
 }

.user-thumb {
  float: left;
  background: #bbb;
  width: 190px;
  height: 190px;
  margin: 10px;
  position: relative;
}

.user-thumb:hover .follow,
.user-thumb:hover .unfollow {
  display: block;
}

.follow, .unfollow {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.follow {
  background: #FF5500;
  color: white;
}

.unfollow {
  color: #FF5500;
  background: white;
  border: 1px solid #FF5500;
}

.user-show-header {
  margin: auto;
}
