/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, h1, h2, nav, a, body, fieldset,
header, ul, li, p, input, button, main,
form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  background: transparent;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

/*clear fix*/

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*page*/

body, html {
  background-image: image-url("home-2.jpg"), image-url("home-2.jpg");
  background-repeat: no-repeat;
  font-family: sans-serif;
  padding: 1px;
}

.logged-in {
  background: #F2F2F2;
}


/*header*/

header {
  z-index: 200;
  width: 100%;
  position: fixed;
  color: #949494;
  background: #333333;
  font-weight: bold;
}

.active {
  color: #FF5500;
}

.header {
  width: 900px;
  margin: auto;
}

.header a:hover,
.header button:hover {
  color: #ffffff;
  cursor: pointer;
}

.header-logo {
  color: #ffffff;
  background: #FF5500;
  padding: 10px;
  float: left;
  font-weight: 700;
  font-size: 26px
}

.header-list {
  float: right;
}
.header-list > li {
  float: left;
  padding: 15px 20px;
}

.header-sign-up {
  background: #FF5500;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #FF5500;
}

.header-sign-in {
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #949494;
  border-radius: 5px;
}

.header-sign-in:hover,
.header-sign-up:hover, {
  border: 1px solid white;
}

// universal-player

.hide {
  bottom: -60px;
}

.show {
  bottom: 0px;
}

.universal-player{
  z-index: 100;
  transition: bottom 2s;
  transform: translateX(-275px);
  position: fixed;
  left: 50%;
  height: 60px;
  width: 550px;
  background: #cccccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.universal-player-player,
.universal-player-title{
  color: black;
  display: block;
  padding: 6px 0 0 5px;
  overflow: hidden;
  width: 460px;
  float: left;
}

.universal-player-art{
  margin-left: 10px;
  height: 60px;
  width: 60px;
  background: black;
  float:left;
}

/*body*/

.content {
  padding-top: 30px;
  top: 50px;
  position: relative;
  width: 900px;
  margin: auto;
}

.white {
  background: white;
}

.sign-in-up {
  width: 300px;
  margin: 20px auto;
  background: white;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #8D7857;
}

/*feed*/

.feed {
  width: 700px;
  margin: 10px auto;
}

.feed h1 {
  text-align: center;

}

// song uploader


.uploader {
  width: 400px;
  margin: 10px auto;
}

.form-header {
  font-size: 28px;
  margin: 0 5px 20px 0;
  border-bottom: 1px solid #FF5500;
}


 /*users*/

 .user-username {
   width: 190px;
   font-size: 28px;
   margin: 0 5px;
 }

 .user-thumb a {
   background: black;
   color: white;
   display: inline;
   padding: 5px;
 }

.user-thumb {
  position: relative;
  float: left;
  background-size: cover;
  width: 190px;
  height: 190px;
  margin: 10px;
}

.user-thumb:hover .follow,
.user-thumb:hover .unfollow {
  display: block;
}

.user-info {
  background: red;
}

.follow, .unfollow {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.follow {
  background: #FF5500;
  color: white;
}

.unfollow {
  color: #FF5500;
  background: white;
  border: 1px solid #FF5500;
}

.user-show-header {
  float: left;
  width: 210px;
}

.user-content {
  float: left;
  width: 650px;
}

.none {
  padding: 10px;
  font-size: 24px;
}

/*tag*/

.tags {
  outline: 1px #CCCCCC solid;
  margin: 10px 0;
  width: 270px;
}

.remove-tag {
  padding: 3px 4px;
  font-size: 14px;
  float: left;
  margin: 1px;
}

.remove-tag:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.show-tag {
  color: white;
  background: black;
  padding: 3px 4px;
  font-size: 14px;
  border-radius: 10px;
  float: left;
  margin: 1px;
}

.hidden {
  display: none;
}

/*song edit*/

.edit-view {
  width: 600px;
  margin: auto;
  padding: 20px 0;
}

.edit-view label,
.edit-view input {
  display: block;
  margin: 10px 0;
}

.edit-form > input {
  width:270px;
}

.album-art-large {
  float: left;
  width: 300px;
  height: 300px;
  background: #ccc;
  margin-right: 10px;
}

.edit-form {
  float: left;
}
.add-tag {
  display: block;
  float: left;
  width: 10px;
  margin: 0;
  /*overflow: hidden;*/
}

.add-tag input {
  border: none;
  height: 20px;
  margin: 0;
  // width: 100%;
}

// playlist song form

.playlist_song_modal {
  overflow: hidden;
  position: fixed;
  z-index: 2;
  background: #F2F2F2;
  opacity: .9;
  top: 0;
  width: 100%;
  height: 100%;
}

.close-modal {
  position: absolute;
  color: black;
  font-size: 24px;
  cursor: pointer;
  margin: 20px;
}

.sub-nav {
  margin: 0 10px 10px 10px;
  border-bottom: 1px solid #eeeeee;
  float:left;
}

.sub-nav-header {
  float: left;
  font-size: 28px;
  margin: 0 5px;
  border-bottom: 1px solid #FF5500;
}

.sub-nav-header:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.playlist-song-form {
  position: relative;
  top: 100px;
  margin: auto;
  width: 550px;
  background: #ffffff;
  z-index: 4;
  height: 400px;
}

.new-or-old-playlist {
  background: white;
  padding: 25px;
  height: 100%;
}

// new playlist

.form-label {
  display: block;
  color: #444444;
  font-size: 16px;
}

.input {
  outline: 1px #CCCCCC solid;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  display: block;
}

.submit-button {
  margin-top: 10px;
  background: #FF5500;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.delete-button {
  margin-top: 10px;
  background: #FF4D4D;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.submit-button:hover,
.delete-button:hover {
  background: black;
}
