// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-show .playlist-edit {
  display: block;
  height: 300px;
}

.playlist-name {
  margin: 5px;
}

.playlist-header,
.playlist-songs {
  margin: auto;
  width: 600px;
}

#input-playlist-cover {
  clear: right;
}

.playlist-top-row {
  float: left;
  height: 25px;
  width: 255px;
}

.playlist-bottom-row {
  clear: both;
  height: 25px;
  width: 100%;
}

.cover-large {
  float: right;
  height: 250px;
  width: 250px;
}

.playlist-name {
  float: left;
  background: black;
  color: white;
  display: inline;
  padding: 5px;
  text-size: 24px;
}

.track-count {
  text-align: center;
  position: absolute;
  padding: 25px 10px;
  background: black;
  color: white;
  border-radius: 50%;
  display: inline;
  top: 180px;
  left: 150px;
}

// playlist songs

.album-art-thumb {
  height: 50px;
  width: 50px;
  float:left;
}

.playlist-song-show {
  float: left;
  width: 600px;
  height: 50px;
  margin: 5px;
  border: 2px solid #949494;
  border-radius: 5px;
}

.playlist-title-row {
  float: left;
  width: 500px;
  height: 20px;
  overflow: hidden;
  padding: 15px 0;
}

.title {
  float: left;
  height: 18px;
  border: 1px solid #eee;
  margin: 10px 10px 0 10px;
  overflow: hidden;
}

.small-play-button,
.small-stop-button {
  background-image: image-url("play_stop_sprite.png");
  background-repeat: no-repeat;
  background-size: 95px 95px;
  background-color: #FF5500;
  border-radius: 50%;
  cursor: pointer;
  float: left;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.small-play-button:hover {
  background-color: #949494;
}

.small-stop-button {
  background-position: 10px 10px;
}

.small-play-button {
  background-position: -63px 10px;
}


.playlist-song-owner {
  float: left;
  height: 18px;
  color: #bbb;
}

.playlist-song-title {
  padding-left: 2px;
  float: left;
  height: 18px;
  color: black;
}

// playlist index

.playlist-thumb {
  height: 190px;
  width: 190px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  float: left
}

.playlist-thumb-title {
  background: black;
  color: white;
  display: inline;
  padding: 5px;

}

.playlist-thumb-count {
  position: relative;
  text-align: center;
  padding: 13px 0 0 0 ;
  background: black;
  color: white;
  width: 60px;
  height: 47px;
  border-radius: 50%;
  display: inline;
  left: 20px;
  top: 50px;
  font-size: 12px;
}

// edit

.edit-playlist {
  width: 600px;
}

.move-and-remove {
  color: white;
  float: left;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.move {
  text-align: center;
  float: left;
  margin-top: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: image-url("drag.png");
  background-repeat: no-repeat;
}

.remove {
  font-size: 12px;
  text-align: center;
  float: left;
  background: #FF4D4D;
  border-radius: 50%;
  margin: 10px 0 5px 5px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
