// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-show .playlist-edit {
  display: block;
  height: 300px;
}

.playlist-name {
  margin: 5px;
}

.playlist-header,
.playlist-songs {
  margin: auto;
  width: 600px;
}

#input-playlist-cover {
  clear: right;
}

.playlist-top-row {
  float: left;
  height: 25px;
  width: 255px;
}

.playlist-bottom-row {
  clear: both;
  height: 25px;
  width: 100%;
}

.cover-large {
  float: right;
  height: 250px;
  width: 250px;
}

.playlist-name {
  float: left;
  background: black;
  color: white;
  display: inline;
  padding: 5px;
  text-size: 24px;
}

.track-count {
  text-align: center;
  position: absolute;
  padding: 25px 10px;
  background: black;
  color: white;
  border-radius: 50%;
  display: inline;
  top: 180px;
  left: 150px;
}

// playlist songs

.album-art-thumb {
  height: 50px;
  width: 50px;
  float:left;
}

.playlist-song-show {
  float: left;
  width: 600px;
  height: 50px;
  margin: 5px;
  border: 2px solid black;
}

.title {
  float: left;
  height: 18px;
  border: 1px solid #eee;
  margin: 10px 10px 0 10px;
  overflow: hidden;
}

.small-play-button {
  float: left;
  background: #FF5500;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.small-arrow {
  position: relative;
  top: 10px;
  left: 15px;
  width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid black;
}
.playlist-song-owner {
  float: left;
  height: 18px;
  border: 1px solid #eee;
  margin: 10px 0 0 10px;
  overflow: hidden;
  color: #bbb;
}

// playlist index

.playlist-thumb {
  height: 190px;
  width: 190px;
  background: #eee;
  margin: 10px;
  float: left
}

.playlist-thumb-title {
  background: black;
  color: white;
  display: inline;
  padding: 5px;

}

.playlist-thumb-count {
  position: relative;
  text-align: center;
  padding: 13px 0 0 0 ;
  background: black;
  color: white;
  width: 60px;
  height: 47px;
  border-radius: 50%;
  display: inline;
  left: 20px;
  top: 50px;
  font-size: 12px;
}
