.search-nav-header {
  font-size: 28px;
  margin: 0 5px 5px 0;
  border-bottom: 1px solid #FF5500;
  cursor: pointer;
}

.search-result {
  float: left;
  width: 700px;
  height: 130px;
  padding: 9px 0 20px 0;
  background: white;
}

.result-bold {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}

.result-light {
  color: #999;
  font-size: 14px;
  line-height: 1.3;
  display:block;
}

.info-small {
  color: #999;
  font-size: 10px;
  line-height: 12px;
}

.avatar {
  height: 120px;
  width: 120px;
  float: left;
  padding: 0 12px 10px 0;
}

// search

#query {
  background: #bbbbbb;
  margin: auto;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  display: block;
  width: 500px;
}

.third {
  width: 33%;
  float: left;
  border: 1px solid #eeeeee;
  min-height: 100px;
}
