.song-show-list {
  float: left;
  width: 630px;
  height: 60px;
  margin: 10px 0 20px 0;
  overflow: hidden;
  transition: height 1s;
}

.song-show {
  float: left;
  width: 630px;
  height: 130px;
  margin: 10px 0 20px 0;
  overflow: hidden;
  transition: height 1s;
}

.play-button{
  position: absolute;
  z-index: 1;
  opacity: 0;
  padding: 5px 0 0 15px;
  height: 55px;
  width: 45px;
  cursor: pointer;
  overflow: hidden;
  transition: opacity .5s;
}

.stop-button {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  padding: 20px 0 0 25px;;
  height: 100px;
  width: 95px;
  cursor: pointer;
  transition: opacity .5s;
}

.fadein {
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  to {
    opacity: 0;
  }
}

.song-show-list:hover .play-button,
.stop-button:hover {
  opacity: .5;
  transition: opacity .5s;
  overflow: hidden;
}

.album-art {
  float: left;
  background: #bbb;
  width: 120px;
  height: 120px;
  margin: 0 10px 10px 0;
  transition: height 1s, width 1s;
}

.album-art-list {
  float: left;
  background: #bbb;
  width: 60px;
  height: 60px;
  margin: 0 10px 10px 0;
  transition: height 1s, width 1s;
}

.top-row-list {
  float: left;
  width: 555px;
  height: 30px;
  padding-left: 5px;
  transition: width 1s;
}

.top-row {
  float: left;
  width: 495px;
  height: 30px;
  padding-left: 5px;
  transition: width 1s;
}

.bottom-row {
  float: left;
  width: 500px;
  height: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}

audio {
  width: 500px;
}

.add-to-playlist,
.in-playlist {
  border: 1px solid #eee;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}

.add-to-playlist:hover {
  cursor: pointer;
  background: #eee;
}
