.song-show {
  float: left;
  width: 630px;
  height: 130px;
  margin: 10px 0 20px 0;
}

.play-button,
.stop-button {
  float: left;
  background-image: image-url("play_stop_sprite.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-color: #FF5500;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.stop-button {
  background-position: 12px 12px;
}

.play-button {
  background-position: -80px 12px;
}

.play-button:hover,
.stop-button:hover {
  background-color: #949494;

}

.album-art {
  float: left;
  background: #bbb;
  width: 120px;
  height: 120px;
  margin: 0 10px 10px 0;
}

.top-row {
  float: left;
  width: 445px;
  height: 30px;
  padding-left: 5px;
}

.bottom-row {
  float: left;
  width: 500px;
  height: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}

audio {
  width: 500px;
}

.add-to-playlist {
  border: 1px solid #eee;
  margin: 2px;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}

.add-to-playlist:hover {
  cursor: pointer;
  background: #eee;
}
