<img class="avatar" src='playlist.png'/>

<a class="result-bold" href="#/playlists/<%= playlist.id %>"><%= playlist.escape('title') %></a>

<a class="result-light" href="#/users/<%= playlist.user_id %>"><%= playlist.escape('owner') %></a>

<p class="info-small">
   Songs
</p>

<p class="info-small">
  Playlist
</p>
