<form>
  <input type="text" id="query" placeholder="Search" required>
</form>

<nav class="user-show-header">
  <h1 class='search-nav-header results-all'>Everything</h1>
  <h1 class='search-nav-header results-user'>Users</h1>
  <h1 class='search-nav-header results-song'>Songs</h1>
  <h1 class='search-nav-header results-playlist'>Playlists</h1>
  <!-- <a href="javascript:void(0)" class="next-page">Next Page</a>
  <pre id="pages"></pre> -->
</nav>
<section class="user-content">
  <ul id="search-results"></ul>

</section>
