<input type="text" id="query">

<section class="third">
  <h1>Users</h1>
  <section class="user-results">

  </section>
</section>
<section class="third">
  <h1>Songs</h1>
  <section class="song-results">

  </section>
</section>
<section class="third">
  <h1>Playlists</h1>
  <section class="playlist-results">

  </section>
</section>
